* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  padding: 1em 5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  max-width: 1600px;
  margin: auto;
  padding: 1rem;
}